body {  padding: 0;
        margin: 0;
        overflow: hidden;
    }

canvas {
    display: block;
    margin: 0 auto;
    background: black;}
.size {
    width: 50vw;
    height: 50vh;}

.myCanvas{
    background-image: url("https://vignette.wikia.nocookie.net/pixeldungeon/images/8/8f/Floor.png/revision/latest?cb=20130530170444");
    background-repeat: repeat;
}


