body {  padding: 0;
        margin: 0;
        overflow: hidden;
    }

canvas {
    display: block;
    margin: 0 auto;
    background: black;
}
    .size {
        width: 50vw;
        height: 50vh;
    }


